<form ng-controller="alvosNovoCtrl" ng-submit="createUser()">

    <legend>Novo Site</legend>

    <label>Nome</label> 
    <input type="text" id="nome" name="nome" ng-model="site.nome" placeholder="Nome do Site"> 

    <label>Template</label>
    <input type="text" id="template" name="template" ng-model="site.template" placeholder="Template de url"> 

    <button>Register</button>
    
    <div>
    <label>{{site}}</label>
    </p>
    <label>{{resultado}}</label>
    </div>

</form>

