<div>
	<p>Alvos</p>
</div>
<div>
	<div id="display-success" >
		Messagem: {{resultadoUpdate}}
	</div>
	
	<table>
		<tr>
		  <th>Site</th>
		  <th>Id</th>
		  <th>Historico</th>
		  <th>Ultima Excecao</th>
		  <th>Ultima Visita</th>
		  <th>Link Visitado</th>
		  <th>Detalhe</th>
		</tr>
          <tr ng-repeat="alvo in alvos" >
		  <td>{{alvo[0]}}</td>
		  <td>{{alvo[1]}}</td>
		  <td>{{alvo[4]}}</td>
		  <td>{{alvo[5]}}</td>
		  <td>{{alvo[6]}}</td>
		  <td><a href="{{alvo[3]}}" target="_blank">Abrir link</a></td>
		  <td><a href="#/alvos/{{alvo[0]}}-{{alvo[1]}}">Detalhe</a></td>
		  <td><a href ng-click="updateHtmlAlvo(alvo[0] + '-' + alvo[1])">Update</a></td>
		  <td><a href ng-click="getAnuncio(alvo[0] + '-' + alvo[1])">Ver Anuncio</a></td>
          </tr>
        </table>
</div>
