<!doctype html>
<html lang="en" ng-app="Test">
<head>
  <meta charset="utf-8">
  <title>Livros</title>
  <script type="text/javascript" src="http://code.angularjs.org/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="http://code.angularjs.org/1.0.7/angular-resource.min.js"></script>
  <script type="text/javascript" src="js/anunciosCtrl.js"></script>
</head>
<body ng-controller="sitesCtrl">
	<div>
		<h1>Anuncios</h1>
	</div>
	<div>
        <table>
          <tr ng-repeat="site in sites" >
	  <td> <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="http://apl.ti.petrobras.com.br/fotos/09746521.jpg" height=20></a> </td>
	  <td>{{site[0]}}</td>
	  <td>{{site[1]}}</td>
	  <td>{{site[2]}}</td>
	  <td>{{site[3]}}</td>
	  <td>{{site[4]}}</td>
	  <td>{{site[5]}}</td>
	  <td>{{site[6]}}</td>
	  <td>{{site[7]}}</td>
          </tr>
        </table>
</div>
</body>
</html>
