<hr/>
	<div>
		<p>Anuncios</p>
	</div>
	<div>
        <table>
	  <tr>
		  <th>Foto</th>
		  <th>Imobiliaria</th>
		  <th>Id</th>
		  <th>No Quartos</th>
		  <th>Area</th>
		  <th>Tipo</th>
		  <th>Transacao</th>
		  <th>Preco</th>
	  </tr>
          <tr ng-repeat="anuncio in anuncios" >
		  <td>{{anuncio[0]}}</td>
		  <td>{{anuncio[1]}}</td>
		  <td>{{anuncio[2]}}</td>
		  <td>{{anuncio[3]}}</td>
		  <td>{{anuncio[4]}}</td>
		  <td>{{anuncio[5]}}</td>
		  <td>{{anuncio[6]}}</td>
		  <td>{{anuncio[7]}}</td>
          </tr>
        </table>
</div>
<hr/>
