<!doctype html>
<html lang="en" ng-app="Test">
<head>
  <meta charset="utf-8">
  <title>Livros</title>
  <script type="text/javascript" src="http://code.angularjs.org/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="http://code.angularjs.org/1.0.7/angular-resource.min.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
</head>
<body ng-controller="corsCtrl">
	<div>
		<h1>L</h1>
	</div>
	<div>
		<input type="text" ng-model="pesquisa" />
	</div>
	<div>
            <p>gilney</p>
            <p>manu</p>
	</div>
</body>
</html>
